<html lang="<?= esc_attr($lang) ?>">
  <head>
    <? include('./includes/head.html') ?>
    <title>404 | Not Found</title>
    <link rel="icon" type="image/png" href="<?= asset('favicon.png') ?>" />
    <link rel="stylesheet" type="text/css" href="<?= asset('css/index.css') ?>" />
  </head>

  <body
    class="flex items-center justify-center min-h-screen bg-linear-to-b from-red-600 to-rose-700"
  >
    <div class="text-center">
      <h1 class="text-7xl text-red-400 font-bold tracking-tight">404</h1>
      <p class="text-2xl text-white tracking-widest leading-none">Not found</p>
    </div>
  </body>
</html>
